@model List<GerenciadorCondominios.ViewModels.FuncaoUsuarioViewModel>
@{
    ViewData["Title"] = "Atualizar funções do usuario " + @ViewBag.Nome;
}

<form asp-action="GerenciarUsuarios" method="post">
    <div asp-validation-summary="All"></div>

    <div class="collection with-header">
        <div class="collection-header grey darken-1">
            <h6 class="white-text">Atualizar funções do usuário @ViewBag.Nome</h6>
        </div>

        <div class="collection-item">
            @for(int i = 0; i < Model.Count(); i++)
            {
                <label>
                    <input type="checkbox" asp-for="@Model[i].IsSelecionado" />
                    <span asp-for="@Model[i].IsSelecionado">@Model[i].Nome - @Model[i].Descricao</span>
                    <input type="hidden" asp-for="@Model[i].FuncaoId" />
                    <input type="hidden" asp-for="@Model[i].Nome" />
                </label>
                <br />
            }
        </div>

        <div class="collection-item">
            <input type="submit" value="Atualizar" class="btn-small blue darken-3" /> &emsp;
            <a asp-controller="Usuario" asp-action="Index">Voltar</a>
        </div>
    </div>
</form>