@model GerenciadorCondominios.BLL.Models.Usuario
@using GerenciadorCondominios.BLL.Models;
@{
    ViewData["Title"] = "MinhasInformacoes";
}

@*<partial name="Confirmações" />*@
<div class="card horizontal">
    <div class="card-image">
        <i><img src="@Url.Content(Model.Foto)" height="250" /></i>
    </div>

    <div class="card-stacked">
        <div class="card-content">
            <div class="row">
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Nome - @Model.UserName</span>
                </div>
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Nome - @Model.Email</span>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Nome - @Model.CPF</span>
                </div>
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Nome - @Model.PhoneNumber</span>
                </div>
            </div>
        </div>

        <div class="card-action">
            <a asp-controller="Usuario" asp-action="Atualizar" asp-route-id="@Model.Id" class="btn-small purple darken-3">Atualizar</a>
        </div>
    </div>
</div>
@*
    <div>
        @await Component.InvokeAsync("Veiculo", Model.Id)
    </div>

    <div>
        <partial name="Excluir" />
    </div>
*@